@font-face {
    font-family: 微软雅黑;
    src: local('微软雅黑'), url('fonts/MicrosoftYaHei.ttf');
}

@font-face {
    font-family: 汉仪苏泽立行楷;
    src: local('汉仪苏泽立行楷'), url('fonts/HYSuZeLiXingKaiTruingW.ttf');
}

@font-face {
    font-family: 汉仪正圆;
    src: local('汉仪正圆'), url('fonts/HYZhengYuan-55W.ttf');
}

@font-face {
    font-family: 汉仪趣黑;
    src: local('汉仪趣黑'), url('fonts/HYQuHeiW.ttf');
}

$max-width-1: 768px;
$max-width-2: 992px;
$max-width-3: 1200px;

html {
    margin: 0;
    padding: 0;

    * {
        margin: 0;
        padding: 0;

        font-family: 汉仪趣黑;
    }

    body {
        margin: 1rem;

        header {
            margin: 1rem;

            display: flex;
            justify-content: center;

            h1 {
                font-size: 3rem;
            }
        }

        main {
            display: flex;
            flex-direction: column;
            align-items: center;

            #warning {
                width: 1rem;
                height: 1rem;

                margin: 0.5rem;

                button {
                    background: transparent;
                    border: none;

                    img {
                        width: 1rem;
                        height: 1rem;
                    }
                }
            }

            #timeline {
                display: flex;

                ul {
                    li {
                        width: 50rem;

                        list-style-type: none;

                        @media (max-width: $max-width-1) {
                            width: 90%;
                        }

                        a {
                            color: #000;
                            text-decoration: none;

                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;

                            p {
                                align-self: flex-start;

                                width: 16rem;

                                margin: 0.5rem 0 0.5rem 10rem;
                                
                                border-bottom-style: solid;
                                border-width: 1px;
                                border-bottom-color: #000;

                                @media (max-width: $max-width-1) {
                                    text-align: end;

                                    width: 100%;

                                    margin: 0.5rem 0;
                                }
                            }
                            
                            img {
                                width: 20rem;

                                margin: 0.5rem;

                                @media (max-width: $max-width-1) {
                                    margin: 0.5rem 0;
                                }
                            }
                        }                        
                    }

                    .article {
                        margin: 1rem;

                        a {
                            align-items: center;
                            
                            @media (max-width: $max-width-1) {
                                align-items: flex-start;
                            }
                        }
                    }
                    
                    .marker {
                        width: 28rem;

                        margin: 2rem 0 1rem -16px;

                        display: flex;
                        justify-content: flex-end;

                        @media (max-width: $max-width-1) {
                            justify-content: flex-start;
                        }

                        .dot {
                            width: 16px;
                            height: 16px;

                            margin: 3px 5px 0 5px;

                            border-radius: 8px;

                            background-color: #000;

                            order: 1;

                            @media (max-width: $max-width-1) {
                                order: 0;
                            }
                        }
                    }
                }
                
                .line {
                    width: 5px;
                    height: 8760px;

                    background-color: #000;

                    margin: 6rem 0 0 0;

                    position: absolute;
                    left: 50%;

                    @media (max-width: $max-width-1) {
                        position: relative;
                        left: 0;
                    }
                }
            }
        }
    }

    footer {
        margin: 1rem 0 0 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        
        #github {
            img {
                width: 1rem;
            }
        }
        
        #copyright {
            display: flex;
            justify-content: center;

            p {
                font-family: 微软雅黑;
                font-size: 0.7rem;
            }
        }
    }
}